<div class="toolbar" role="banner">
  <img width="100" height="40" alt="Uvic Logo" src="assets/img/UVic_logo.jpg"/>

  <div>
    <span style="font-size: 24px;">IoT Project - Cloud File Storage</span>
  </div>

  <div class="spacer"></div>

  <span><a routerLink="/home"><span class="nav-sub-title">Description</span></a></span>
  <span><a routerLink="/upload"><span class="nav-sub-title">Upload File</span></a></span>
  <span><a routerLink="/file-list"><span class="nav-sub-title">Files In Cloud</span></a></span>
  <!-- <span><a routerLink="/upload-test"><span class="nav-sub-title">Test</span></a></span> -->
</div>

<div class="content" role="main">
  <router-outlet></router-outlet>
  
  <footer class="fixed-bottom" style="text-align: center;margin-bottom: 20px;">
    <div class="footer">© 2021 Copyright: Shu Han  <a href="https://www.linkedin.com/in/shu-han/">LinkedIn</a></div>
  </footer>
</div>
