<div class="main-container">
    <div class="box-inline">
        <div class="left-section">
            <ng-container *ngIf="!locationInfoReady">
                <div class="label-font">
                    Loading your location 
                </div>
                <div class="progress loop">
                    <progress></progress>
                </div>
            </ng-container>
            <div id="map" class="map" #mapElement></div>
        </div>
    
        <div class="right-section">
            <div>
                <div class="label-font" style="margin-bottom: 30px;">Your current location: <span style="font-weight: bold;">{{location}}</span></div>
            </div>

            <div class="label-font">If the above location is not correct, please input your location:</div>
            <div style="margin-bottom: 30px;">
                <input clrInput placeholder="Your city name" name="location" [(ngModel)]="location" (ngModelChange)="onLocationChange()"/>
            </div>

            <div class="label-font" style="margin-bottom: 10px;">Please choose your file to upload:</div>
            <div class="loading-zone">
                <input #myInput class="form-control" type="file" (change)="onFileChange($event)" style="width: 100%; display: inline-block;" [disabled]="!locationInfoReady">
            </div>
            <div>
                <button class="btn btn-primary" style="margin-top: 10px; font-size: medium;" (click)="submit()" [disabled]="uploadedFile == null">Upload</button>
            </div>
            <ng-container *ngIf="uploading">
                <div class="progress loop">
                    <progress></progress>
                </div>
            </ng-container>

            <ng-container *ngIf="successfulUpload">
                <div class="label-font">
                    File uploaded successfully!
                </div>
            </ng-container>

        </div>
    </div>


</div>