<div class="sub-page-title">Description</div>
<div class="main-content">
    <ul>
        <li>This is a course project at University of Victoria, BC, Canada.</li>
        <li>The specific course is ECE 569A - Internet of Things: Analytics and Security, Instructor: Dr. Wei Li</li>
        <li>The authors of this website are actively attending this course during Sep 2021 to Dec 2021.</li>

        <li>Design and implement a cloud or local-computer based portal accesssmart drive system with any popular
            web browser on a computer or a cell phone/pad. User can drag and drop files to the portal interfacing
            area. The system will automatically put the files in different folders (on cloud or on your local computer)
            based on the real time location (name of the city) of the devices, such as “Vancouver”, “Surrey”, “Victoria”,
            “Burnaby”, “Coquitlam”, etc. If a new location is used, the system will automatically create a new folder
            for this new location and find out the city name of the location to use as the folder name, if the system
            cannot find the name of the city, the system will ask the user. The system will confirm after uploading
            (success/fail).</li>

        <li>This project starts from Oct, 2021, and will be finished before Dec, 2021.</li>
        <li>Team members: </li>
        <li class="member">Shu Han, shuhan@uvic.ca</li>
        <li class="member">Vu Nguyen, vunx@uvic.ca</li>
        <li class="member">Zixuan Deng, zixuandeng@uvic.ca</li>

    </ul>
</div>
